@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.hero {

    &__image--guide {
        height: 223px;
    }

    &__title {
        &--travel-guide {
            left: 67px;
            top: 32px;
            color: white;
            font-size: 21px;
            font-weight: bolder;
            position: absolute;
        }
    }

    @include tablet {
        &__image {
            &--guide {
                top: 58px;
                height: 415px;
            }
        }

        &__title {
            &--travel-guide {
                left: -41px;
                top: 72px;
                font-size: 38px;
            }
        }
    }
}

.guide {
    padding: 16px;
    background-color: $Green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 600;

    &__dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--title {
            margin: 0px;
            font-size: 14px;
        }

        &--arrow {
            width: 10px;
            height: 10px;
        }
    }

    &__content {
        text-align: left;
        display: flex;

        &--text {
            font-size: 12px;
        }
    }

    @include tablet {
        padding: 32px;

        &__dropdown {

            &--title {
                font-size: 25px;
            }
        }

        &__content {

            &--text {
                font-size: 21px;
            }
        }
    }
}

.selected-section .guide__content{
    display: flex;
}