@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.hero {

    &__image--guide {
        height: 223px;
    }

    &__title {
        &--travel-guide {
            top: 50px;
            color: white;
            font-size: 21px;
            font-weight: bolder;
            position: absolute;
            text-align: center;
        }
    }

    @include tablet {
        &__image {
            &--guide {
                top: 58px;
                height: 415px;
            }
        }

        &__title {
            &--travel-guide {
                top: 120px;
                font-size: 38px;
            }
        }
    }

    @include desktop {

        &__image {

            &--guide {
                top: 65px;
                height: 677px;
            }
        }

        &__title {

            &--travel-guide {
                left: 370px;
                top: 153px;
                font-size: 56px;
            }
        }
    }
}

.guide {
    padding: 16px;
    background-color: $Green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 600;

    &__dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;

        &--title {
            margin: 0px;
            font-size: 18px;
            text-decoration: none;

        }

        &--arrow {

            &--new {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 7px solid white;
                transform: rotate(180deg);
    
            }
        }
    }

    &__content {
        text-align: left;
        display: flex;

        &--text {
            font-size: 12px;
        }
    }

    @include tablet {
        padding: 32px;

        &__dropdown {

            &--title {
                font-size: 25px;
            }

            &--arrow {

                &--new {
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-bottom: 15px solid white;        
                }
            }
        }

        &__content {

            &--text {
                font-size: 21px;
            }
        }
    }

    @include desktop {
        padding: 45px 120px;

        &__dropdown {

            &--title {
                font-size: 37px;
            }

            &--arrow {

                &--new {
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-bottom: 20px solid white;
                }
            }
        }

        &__content {

            &--text {
                font-size: 25px;
            }
        }
    }
}

.selected-section .guide__content{
    display: flex;
}
