@use '../../styles/partials/mixins' as *;

.hero {

    &__image {

        &--resources {
            bottom: 127px;
        }
    }

    &__title--resources {
        text-align: center;
        position: absolute;
        color: white;
        font-weight: 700;
        top: 57px;
        font-size: 26px;  
        text-shadow: 2px 2px 2px black;      
    }

    @include tablet {
        &__image {

            &--resources {
                bottom: 20px;
            }
        }

        &__title--resources {
            font-size: 48px;
            top: 108px;
        }
    }

    @include desktop {
        &__image {

            &--resources {
                bottom: 188px;
            }
        }

        &__title--resources {
            font-size: 62px;
            top: 120px;
            
        }
    }
}

.resources {
    background-color: #86B097;
}

.resources-list {
    list-style: none;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0px;

    &__item {
        margin: 10px;
        border: none;
        min-width: 112px;
        min-height: 104px;
        background-color: #eac29bf0;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 11px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

        &--link {
            text-decoration: none;
            color: white;
            font-weight: 600;
            display: inline-block;
        }
    }
}

.spotlight {

    &__resources {
        padding: 32px;
    }

    &__item {

        &--text {

            &--resources {
                text-decoration: none;
                color: white;
            }
        }
    }

    @include tablet {

        &__resources {
            padding: 32px 32px;
        }
    }
}

.selected {
    background-color: #86B097;
}