@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.post-comment {
    background-color: #86B097;
    padding: 20px;
    &__title {
        margin: 0px 0px 16px 0px;
        font-size: 18px;
        font-weight: 650;
        color: white;
        text-shadow: $TextShadowGray;
    }

    @include tablet {
        padding: 32px 32px 0px 32px;
        
        &__title {
            font-size: 30px;
        }
    }

    @include desktop {
        padding: 64px 120px 0px 120px;

        &__title {
            font-size: 37px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 16px;

    &__label {
        text-align: left;
        color: white;
        font-weight: 500;
        padding-bottom: 8px;
    }

    &__input {
        border-radius: 8px;
        border: none;
        padding: 8px;
        margin-bottom: 8px;

    }

    &__button {
        border-radius: 8px;
        border: none;
        padding: 8px;
        margin-top: 8px;
        background-color: white;
        font-weight: 500;
    }
}