@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.information {

    &__body {

        &--header {
            font-size: 17px;
            margin-bottom: 0px;
        }

        &--content {
            font-size: 16px;
            font-weight: 500;
            margin-top: 5px;
            text-align: justify;
            text-justify: inter-word;
        }
    }

    @include tablet {

        &__body {

            &--header {
                font-size: 21px;
            }

            &--content {
                font-size: 20px;
            }

        }
    }

    @include desktop {

        &__body {
            padding-top: 32px;

            &--header {
                font-size: 25px;
            }

            &--content {
                font-size: 26px;
                line-height: 33px;
            }
        }
    }
}

a {
    color: white;
}