@use '../../styles/partials/mixins' as *;

.hero {

    &__image--about {
        bottom: 93px;
        height: 500px;
    }

    &__title--about {
        text-shadow: 1px 1px 1px grey;
    }

    @include tablet {

        &__image--about {
            bottom: 8px;
        }
    }

    @include desktop {

        &__image--about {
            bottom: -68px;
            height: 602px;
        }
    }
}

.introduction {

    // &__top {

    //     &--about {
    //         // text-align: center;
    //     }
    // }

    &__bottom {

        &--about {
            padding: 10px 0px;
        }
    }
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    background-color: #86B097;

    &__image {
        width: 98%;
        height: 100%;
        margin: 1%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
    }

    @include tablet {

        &__image {
            width: 48%;
        }
    }

    @include desktop {
        padding: 11px;

        &__image {
            width: 31%;
        }
    }
}