.hero {

    &__image--about {
        bottom: -12px;
        height: 320px;
    }

    &__title {
        text-shadow: 1px 1px 1px grey;
    }
}

.description {
    background-color: antiquewhite;
    height: auto;
    margin: 0px;
    padding: 32px;

    &__title {
        margin: 0px;

    }

    &__bio {
        font-size: 12px;
        line-height: 14px;
        text-align: left;

    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;

    &__image {
        width: 98%;
        height: 100%;
        margin: 1%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
    }
}