@use '../../styles/partials/mixins' as *;

.hero {

    &__image--community {
        bottom: -37px;
        height: auto;
    }

    &__title--community {
        text-align: center;
        position: absolute;
        color: white;
        font-weight: 700;
        top: 77px;
        font-size: 26px;
        text-shadow: 2px 2px 2px black;
    }

    @include tablet {

        &__title--community {
            font-size: 40px;
            top: 104px;            
        }

        &__image--community {
            top: 39px;
        }
    }

    @include desktop {

        &__title--community {
            top: 137px;
            right: 805px;
            font-size: 58px;
        }

        &__image--community {
            top: 62px;
        }
    }
}

// .comments-all { //this is whats making the comment section side by side
//     display: flex;
//     flex-direction: column;

//     @include desktop {
//         flex-direction: row;
//     }
// }