@use '../../styles/partials/mixins' as *;

.hero {

    &__image--community {
        bottom: -37px;
    }

    @include tablet {

        &__title--community {
            position: absolute;
            color: white;
            font-size: 40px;
            font-weight: 700;
            top: 86px;
            right: 85px;
        }

        &__image--community {
            bottom: 30px;
        }
    }

    @include desktop {

        &__title--community {
            top: 124px;
            right: 629px;
            font-size: 55px;
        }

        &__image--community {
            bottom: 116px;
        }
    }
}