.nav-bar {
    display: flex;
    background-color: #08849A;
    color: white;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;

    &__option {
        width: 20%;
        color: white;
        text-decoration: none;

        &--title {
            font-weight: 700;
            width: 25%;
        }
    }
}