@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.post-reply {
    background-color: $Sand;
    padding: 0px 10px 10px 10px;
    margin: 10px 0px;

    &__title {
        // text-align: left;
        margin: 0px 0px 16px 0px;
        font-size: 18px;
        font-weight: 650;
        color: white;
    }
}

.form {
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    padding-top: 16px;

    &__reply {
        border: none;
    }

    &__label {
        text-align: left;
        color: white;
        font-weight: 500;
        padding-bottom: 8px;
    }

    &__input {
        border-radius: 8px;
        border: none;
        padding: 8px;
        margin-bottom: 8px;

        &:focus {
            border-color: $Green;
            outline: none;
        }
    }

    &__button {
        border-radius: 8px;
        border: none;
        padding: 8px;
        margin-top: 8px;
        background-color: white;
        font-weight: 500;
        color: $Green;
    }

    @include tablet {

        &__label {
            font-size: 25px;
            font-weight: 600;
        }

        &__input {
            padding: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

            &--comment {
                padding-bottom: 46px;
            }
        }

        &__button {
            width: 15%;
            align-self: flex-end;
            font-size: 20px;
            font-weight: 700;
            margin-top: 16px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    @include desktop {

        &__label {
            font-size: 30px;
            text-shadow: $TextShadowGray;
        }

        &__input {
            font-size: 25px;

            &--comment {
                padding-bottom: 60px;
            }
        }

        &__button {
            font-size: 25px;
        }
    }
}