@use './styles/partials/mixins' as *;
@use './styles/partials/colors' as *;

* {
  box-sizing: border-box;
  font-family: Palatino;
}

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 212px; 
    display: flex;
    justify-content: center;
    background-color: $Sand;

    &__image {
      width: 100%;
      height: 500px;
      object-fit: cover; 
      object-position: center; 
      object-position: center 50%;
      position: relative;
    }

    @include tablet {
      height: 350px;

      &__image {
        width: 100%;
      }
    }

    @include desktop {
      height: 550px;

      &__image {
        width: 100%;
        height: 900px;
      }
    }
    
}

.link {
  color: white;

  &__logo {
    color: white;
    text-decoration: none;
  }
}