@use '../../styles/partials/mixins' as *;

.comment {

    &__details {
        display: flex;
        padding-bottom: 6px;
        align-items: center;

        &--name {
            padding-right: 16px;
            margin: 0px;
            color: white;
        }

        &--time {
            margin: 0px;
            color: white;
            font-size: 11px;
        }
    }

    &__text {
        background-color: white;
        padding: 12px;
        font-size: 12px;
        text-align: left;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        &--content {
            margin: 0px;
            color: #86B097;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 0px 0px;

        &--right {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            &--replies {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-self: flex-end;
                font-size: 14px;
                color: white;
                background-color: transparent;
            }

            &--likes {
                font-size: 14px;
                color: white;
                background-color: transparent;

            }

            &--reply {
                margin-left: 10px;
                border: none;
                color: white;
                background-color: transparent;

            }

            &--delete {
                margin-left: 8px;
                border: none;
                color: white;
                background-color: transparent;

            }
        }

        &--left {
            padding-left: 32px;

           &--hide {
            margin: 0px;
            font-size: 12px;
            color: white;
            border: none;
            padding: 0px;
            background-color: transparent;
           }
        }
        
    }

    @include tablet {

        &__details {

            &--name {
                font-size: 25px;
                font-weight: 600;
            }

            &--time {
                font-size: 18px;
                font-weight: 600;
            }
        }

        &__text {

            &--content {
                font-size: 20px;
                padding: 10px;
            }
        }

        &__actions {

            &--right {

                &--reply {
                    font-size: 20px;
                    font-weight: 600;
                }

                &--delete {
                    font-size: 20px;
                    font-weight: 600;

                }

                &--likes {
                    font-size: 20px;
                    font-weight: 600;

                }
            }

            &--left {
                padding-left: 0px;

                &--hide {
                    font-size: 17px;

                }
            }
        }
    }

    @include desktop {

        &__details {

            &--name {
                font-size: 30px;
            }

            &--time {
                font-size: 27px;
            }
        }

        &__text {

            &--content {
                font-size: 25px;
            }
        }

        &__actions {

            &--right {

                &--reply {
                    font-size: 25px;
                }

                &--likes {
                    font-size: 25px;
                }

                &--delete {
                    font-size: 25px;
                }
            }

            &--left {

                &--hide {
                    font-size: 23px;
                }
            }
        }
    }
}

.replies {
    padding-left: 32px;

    @include tablet {
        padding-left: 100px;
    }

    @include desktop {
        padding-left: 150px;
    }
}

.heart-image {
    width: 21px; 
    height: 21px; 
    overflow: hidden; 
    border: none;
    padding: 0px;
    background-color: transparent;

    @include tablet {
        width: 28px;
        height: 30px;
    }

    @include desktop {
        width: 35px;
        height: 35px;
    }
}
  
  .heart-image img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    background-color: transparent;
  }
  