@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

select {
    width: 100px;
}

.ambulance-number {
    background-color: #86B097;
    padding: 16px;

    &__title {
        color: white;
        text-align: left;
    }

    &__subtitle {
        text-align: left;
        color: white;
        font-size: 13px;
        margin: 24px 0px;
    }

    @include tablet {
        padding: 32px;

        &__title {
            font-size: 30px;
            font-weight: 600;
        }

        &__subtitle {
            font-size: 26px;
        }

    }

    @include desktop {
        padding: 10px 120px 64px 120px;

        &__title {
            font-size: 38px;
        }

        &__subtitle {
            font-size: 32px;
        }
    }
}

.get-number-form {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: left;
        color: white;
    }

    &__dropdown {
        width: 100%;
        border-radius: 8px;
        border: none;
        margin: 10px 0px;
        padding: 10px;
        font-size: 15px;
        color: $Green;

        &--options {
            font-size: 15px;
        }

        &:focus {
            outline: none;
        }

    }

    &__submit {
        width: 20%;
        align-self: flex-end;
        border-radius: 8px;
        border: none;
        padding: 3px;
        font-size: 12px;
        color: $Green;
    }

    @include tablet {

        &__title {
            font-size: 26px;
        }

        &__dropdown {

            &--options {
                font-size: 25px;
            }
        }

        &__submit {
            font-size: 20px;
            background-color: white;
            color: #86B097;
            font-weight: 600;
        }
    }

    @include desktop {

        &__title {
            font-size: 32px;
            font-weight: 600;
        }

        &__dropdown {
            font-size: 25px;
        }

        &__submit {
            font-size: 26px;
        }
    }
}

.information {
    text-align: left;
    color: white;

    &__title {
        font-size: 12px;
    }

    &__number {
        text-align: center;
        font-size: 2rem;
    }

    &__save {
        font-size: 12px;
    }

    &__disclaimer {
        font-size: 8px;
    }

    @include tablet {

        &__title {
            font-size: 26px;
        }

        &__number {
            font-size: 40px;
        }

        &__save {
            font-size: 26px;

        }

        &__disclaimer {
            font-size: 10px;

        }
    }
}

option {
    font-size: 12px !important;
}