.hero {
  &__title {
    position: absolute;
    top: 39px;
    left: 17px;
    z-index: 1;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
}

.introduction {
  text-align: left;
  padding: 16px;
  background-color: rgba(234, 194, 155, 0.9411764706);
  color: white;

  &__top {
    font-size: 15px;
    font-weight: 600;
  }

  &__bottom {
    font-size: 12px;
    font-weight: 600;
  }
}
  

  .spotlight-section {
    background-color: #86B097 ;
    padding: 16px;

    &__title {
        text-align: left;
        font-size: 18px;
        color: white;
        font-weight: 600;
        margin: 0px;
    }
  }

  .spotlight {
    display: flex;
    align-items: center;
    overflow-x: auto; 
    white-space: nowrap;
    list-style: none;
    margin: 0px;
    padding: 0px;


    &__item {
        margin: 10px;
        border: none;
        min-width: 112px;
        min-height: 104px;
        background-color: #eac29bf0;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 11px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        border-radius: 8px;

    }
  }