@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.resource {
    background-color: $Green;
    color: white;
    padding: 0px 16px 16px 16px;

    &__title {
        margin: 0px;
        font-weight: 600;
    }

    &__description {
        text-align: left;

        &--image {
            width: 100%;
            padding-bottom: 16px;
        }
    }

    @include tablet {

        &__title {
            font-size: 25px;
        }

        &__description {
            font-size: 20px;
        }
    }

    @include desktop {
        padding: 0px 64px 64px 64px;
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 40px;
        }

        &__description {
            font-size: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &--image {
                width: 50%;
                align-self: center;
            }
        }
    }
}

.chef-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {

        &__image {
            align-self: center;
            width: 50%;
        }
    }
}